<div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-4 mt-4 px-5">
  <!-- Row Loop -->
  @for (movie of filteredMovies(); track movie) {
    <div class="col">
      <div class="card h-100 bg-dark text-light shadow-lg border-dark">
        @if (movie.posterUrl) {
          <a [routerLink]="['/movie', movie.id]">
            <img [src]="movie.posterUrl" [alt]="movie.title" class="card-img-top" />
          </a>

          <button
            class="btn btn-dark btn-sm position-absolute top-0 end-0 m-2"
            (click)="deleteMovie(movie.id)"
          >
            <i class="bi bi-trash3"></i>
          </button>
        }
        <div class="card-body text-center">
          <h3 class="card-title text-info">{{ movie.title }}</h3>

          <p class="mt-4 mb-2"><strong>Mood:</strong> {{ movie.mood }}</p>

          <div class="mb-2">
            <strong>Rate:</strong>
            @for (star of stars(); track star) {
              <i
                class="bi"
                [ngClass]="{
                  'bi-star-fill': star <= movie.rate,
                  'bi-star-half': star - 0.5 === movie.rate,
                  'bi-star': star > movie.rate,
                }"
                style="color: gold"
              ></i>
            }
          </div>

          <p class="mt-2">
            <strong>Status:</strong>
            {{ movie.seen ? 'Seen' : 'Pending' }}

            @if (movie.seen) {
              <i class="bi bi-check-circle-fill text-success"></i>
            } @else {
              <i class="bi bi-clock-fill text-warning"></i>
            }
          </p>
        </div>
      </div>
    </div>
  } @empty {
    <div class="col-12 text-center">There aren't movies.</div>
  }
</div>
